.btn {
  background-color:#B99095;
  margin-top: 20px;
  display: block;
}
.questions{
  margin: 10px;
  color:#3D5B59 ;
}
body {
  background-color:#fad4cf ;
}

#js,#c,#p {
  display: none;
  margin-top: 20px;
  background-color:#93d5d1;
  color:rgb(0, 0, 0);
  text-align: center;
}
h1 {
  text-align: center;
  margin: 10px;
}