.btn {
  background-color:#B99095;
  margin-top: 20px;
}
.questions{
  margin: 10px;
  color:#3D5B59 ;
}
body {
  background-color:#fad4cf ;
}
#js {
  display: none;
}
#p {
  display: none;
}
#c {
  display: none;
}